body {
    background-image: url('photos/fond-principal.jpg');
    font-family: Arial;
}

.carte, .carte-2 {
    background-image: url('photos/fond-div.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    max-width: 600px;
    text-align: center;
    border-radius: 20px;
    border: solid 2px rgb(160, 159, 159);
}

.carte-2 main {
    margin-left: auto;
    margin-right: auto;
}

.carte-2 {
    margin-top: 30px;
    margin-bottom: 100px;
}

address p {
    text-align: left;
    font-style: normal;
    font-family: "Unkempt", cursive;
    width: 100%;
}

footer {
    margin-left: auto;
    padding-top: 80px;
    padding-right: 30px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: burlywood;
}

.logo {
    width: 200px;
    margin-bottom: -40px;
}

main {
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-right: 15px;
}

h1 {
    font-size: 30px;
    font-family: "Playwrite DE SAS", cursive;
}

h2 {
    margin-top: -20px;
    font-size: 15px;
}

.icon-secondaire {
    width: 15px;
}